main {
	margin: 0;
	padding: 0;
	
}

.slider {
	width: 1000px;
	height: 350px;
	overflow: hidden;
	border: 5px solid #F0F3EA;
	border-radius: 5px;
	position: relative;
	background-color: #F0F3EA;

}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.navigation {
	display: flex;
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #B7B191;
	z-index: 3;
	opacity: .7;
	border-radius: 5px;
	transition: 0.3s;
}

.bar:hover{
	opacity: 1;
	transform: scale(1.1);
}

input[name='slider']{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 400%;
	height: 100%;
	display: flex;

}

.images_slide {
	width: 25%;
	transition: all 0.5s ease;
}

.images_slide img{
	width: 100%;
	height: 100%;
}

#switch1:checked ~ .s1 {
	margin: 0;
}#switch2:checked ~ .s2 {
	margin: -25%;
}#switch3:checked ~ .s3 {
	margin: -50%;
}#switch4:checked ~ .s4 {
	margin: -75%;
}#switch5:checked ~ .s5 {
	margin: -100%;
}



/*
#slider {
	position: relative;
	text-align:center;

	top: 10px;
	margin: auto;
}


#slides article{
	width: 30%;
	float: left;
	position: absolute;

}
#slides .images_slider{
	width: 500%;
	line-height: 0;
	
}

article img {
	width: 100%;
}

#overflow{
	width: 100%;
	overflow: hidden;
}*/